<div class='row' id='btn-wrapper'>
    <div class='col s12 m8 offset-m2 center'>
        <a class="waves-effect waves-light btn button-collapse" href="#" data-activates="slide-out"><i class="material-icons right">list</i>List</a>
        <a class="waves-effect waves-light btn" href='/play'><i class="material-icons right">play_arrow</i>Play</a>
    </div>
</div>

<div class="row" id='search-wrapper'>
    <form class="col s12">
        <div class="input-field col s12">
          <input id="search" type="text" name='song'>
          <label for="search" id='search-label'>Song</label>
        </div>
    </form>
</div>

<div class="row" id='search-history'>
    <div class='col s12 m6' id='past-searches'>
        <h4>Search History</h4>
        <ul class="collapsible" data-collapsible="accordion" id='table-searches'>
            <li>
                <div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>
                <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
                <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
                <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
                <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
                <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
                <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
            </li>
        </ul>
    </div>

    <div class='col s12 m6' id='favorites'>
        <h4>Favorites</h4>
          <ul class="collapsible" data-collapsible="accordion" id='table-favorites'>
            <li>
                <div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>
                <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
                <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
                <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
            </li>
        </ul>
    </div>
      
</div>
