body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    --blue-grey: #607d8b;
    --blue-grey-3: #455a64;
  }

main {
flex: 1 0 auto;
}

::-webkit-scrollbar { 
    display: none; 
}

/* NAVBAR */
/* ------------------------------------------- */

nav{
    background-color: var(--blue-grey)
}

.brand-logo{
    height:100%
}

#image-logo{
    height: 60%;
    margin: 20%;
}

/* SIDENAV */
/* ------------------------------------------- */

.collection .collection-item.avatar .secondary-content{
    padding: 0
}
.side-nav .collection-header{
    font-family: 'Baloo Bhaijaan', cursive;
    color: #b71c1c;
}

.side-nav li>a>i.material-icons{
    margin: 0;
    float: right;
}

/* MAIN */
/* ------------------------------------------- */

#btn-wrapper{
    margin: 1rem 0 0 0;
}

.btn{
    background-color: #b71c1c 
}

.btn:hover,.btn:visited{
    background-color: #c62828;
}

#search-wrapper{
    margin-bottom: 0;
}

#search {
    font-size: 2rem;
    height: 5rem;
    margin: 1rem 0;
}

#search:focus{
    border-color: var(--blue-grey-3);
    -webkit-box-shadow: 0 1px 0 0 var(--blue-grey-3);
    box-shadow: 0 1px 0 0 var(--blue-grey-3);
}

#search-label{
    font-size: 3rem;
    font-family: 'Baloo Bhaijaan', cursive;
}

#search:focus + #search-label{
    color: var(--blue-grey-3);
}

#search-history{
    
}

#search-history h4{
    font-family: 'Baloo Bhaijaan', cursive;
    color: var(--blue-grey-3);
}

#past-searches,#favorites{
    height: 40%;
    border-left: 1px solid black;
    border-right: 1px solid black;
    overflow: auto;
}



/* FOOTER */
/* ------------------------------------------- */

.page-footer{
    background-color: var(--blue-grey);
}

.page-footer .seperator{
    margin: 0 1rem;
}