<!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
<div id="youtube-player"></div>
{{!-- div overlay the iframe --}}
<div id='song-wrapper' class='valign-wrapper'><h1 class='truncate' id='song-title'></h1></div>

<div id='next-song-wrapper' class='valign-wrapper'>
    <div id='inner-wrapper'>
    <h3 class='center'>Next Song</h3>    
    <h1 id='next-song' class='center'></h1>
    </div>
</div>

<script src='/js/play_client.js'></script>
