<html>
    <head>
         <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css"> 
        <!--Import Google Font-->
        <link href="https://fonts.googleapis.com/css?family=Baloo+Bhaijaan" rel="stylesheet">
        <!--Import personal style.css-->
        <link type='text/css' rel='stylesheet' href='css/style.css'/>
        <!--Import jQuery before materialize.js-->
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>   
    </head>
    <body>
         <nav>
            <div class="nav-wrapper">
                <a href="/" class="brand-logo center"><img id='image-logo' src='/img/karaoke.png'/></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href='/play'>Play</a></li>
                    <li><a class="button-collapse show-on-medium-and-up" href="#/" data-activates="slide-out">Favorite</a></li>
                    <li><a id="sign-in-or-out-button">Sign In</a></li>
                </ul>
    
            </div>
        </nav>

        <ul id="slide-out" class="side-nav">
            <h3>Favorite</h3>
            <ul class="collection with-header" id='table-favorites'>
                <li class="collection-item avatar dismissable">
                    <img src="" alt="" class="circle">
                    <span class="title">Title</span>
                    <p>First Line <br>
                        Second Line
                    </p>
                    <a href="#!" class="secondary-content right"><i class="material-icons">delete_sweep</i></a>
                </li>   
            </ul>
        </ul>


        <main class='container'>
            {{{body}}}
        </main>

       <footer class="page-footer"> 
          <div class="footer-copyright">
            <div class="container">
            © 2014 Copyright MD
            <a class="grey-text text-lighten-4 right" href="/fav/all">API</a>
            <span class='grey-text text-lighten-4 right seperator'>|</span>
            <a class="grey-text text-lighten-4 right" href="https://github.com/mkdinh/karaoke">Github</a>
            </div>
          </div>

            <!-- Compiled and minified JavaScript -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
            <!--Import Youtube functionality javascript-->
            <script src ='/js/youtube_client.js'></script>
        </footer>
    </body>
</html>